<style>
	.footer{
		background:black;
		color:#e0e2e4;
		height:auto;
	}
	.counter-class{
		
		padding:10px;
		text-align:center;
		
	}
	.counter{
		width:100px;
	}

</style>
<footer class="footer m-auto" style="padding-top:50px; color:lightgrey;">
  <div class="container-fluid m-auto" >
    <div class="row" >
				<div class="col-6 col-md-3 col-sm-6 text-center  mb-4">
							<a class="fb-ic ">
								<i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>FACEBOOK
							</a>
				</div>

				<div class="col-6 col-md-3 col-sm-6  text-center  mb-4 mt-2">
							<a class="tw-ic ">
								<i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>TWITTER
							</a>
				</div>


				<div class="col-6 col-md-3 col-sm-6 text-center   mb-4 mt-2">	 
						  <a class="li-ic ">
							<i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>LINKEDIN
						  </a>
				</div>

				<div class="col-6 col-md-3 col-sm-6 text-center  mb-4 mt-2">	 
						  <a class="ins-ic ">
							<i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>INSTAGRAM
						  </a>		
				</div>
        
    </div>	
			<!-- hitwebcounter Code START -->
	
	<div class="row m-auto counter-class">	 
		<div class="m-auto"><i class="fas fa-eye fa-2x mr-3"></i> <img class="vis-counter counter mb-3" src="https://hitwebcounter.com/counter/counter.php?page=7350272&style=0006&nbdigits=5&type=page&initCount=0" title="Web Counter" Alt="counter free"   border="0" ></div>
	</div>
		  
  <div class="footer-copyright text-center py-3">© 2020 Copyright: add2kart
  </div>
	</div>
	
	
	
</footer>
