<%- include("partials/header")%>
<style>
	/* .box{
		height: 100px;
	} */
	.col-test{
		background: lightgrey;
		margin: 5px 0;
		padding-top: 15px;
		border-radius: 10px;
		text-align: center;
	}
	.images{
		/* height:100px; */
		/* background:lightgrey; */
		/* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRMgWEgB0qr0oq_h6ktSJ16KrmRCD0GfEvj6KRZINYk2hGAXjFF&usqp=CAU'); */
		/* background-position: center; */
		/* background-size: initial; */
		/* background-repeat: no-repeat; */
	}
	/*.img2{
		background:grey;
		height:100px;
		background-position: center;
		background-size: initial;
		background-repeat: no-repeat;
		background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtkwwk_KA_q1yD_SBtiNuiEAs9tfHzWgC3WUZRSYSCCXLN1ALM&usqp=CAU');
	} */
</style>
</head>
	<body>
		<div class="container-fluid">
			<div class="row row-cols-4 border p-2 my-2 justify-content-around">
				<div class="col col-11 col-sm-5 col-md-2 border col-test">
					<div class = "images"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtkwwk_KA_q1yD_SBtiNuiEAs9tfHzWgC3WUZRSYSCCXLN1ALM&usqp=CAU" alt="..." class="img-thumbnail"></div>
					<div><p>Column 1</p></div>
				</div>
				<div class="col col-11 col-sm-5 col-md-2 border col-test">
					<div class = "images"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRMgWEgB0qr0oq_h6ktSJ16KrmRCD0GfEvj6KRZINYk2hGAXjFF&usqp=CAU" alt="..." class="img-thumbnail"></div>
					<div><p>Column 1</p></div>
				</div>
				<div class="col col-11 col-sm-5 col-md-2 border col-test">
					<div class = "images"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtkwwk_KA_q1yD_SBtiNuiEAs9tfHzWgC3WUZRSYSCCXLN1ALM&usqp=CAU" alt="..." class="img-thumbnail"></div>
					<div><p>Column 1</p></div>
				</div>
				<div class="col col-11 col-sm-5 col-md-2 border col-test">
					<div class = "images"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtkwwk_KA_q1yD_SBtiNuiEAs9tfHzWgC3WUZRSYSCCXLN1ALM&usqp=CAU" alt="..." class="img-thumbnail"></div>
					<div><p>Column 1</p></div>
				</div>
			</div>
			<div class="row row-cols-4 border p-2 my-2">
				<div class="col col-11 col-sm-5 col-md-2 border col-test m-auto">
					<div class = "images"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtkwwk_KA_q1yD_SBtiNuiEAs9tfHzWgC3WUZRSYSCCXLN1ALM&usqp=CAU" alt="..." class="img-thumbnail"></div>
					<div><p>Column 1</p></div>
				</div>
				<div class="col col-11 col-sm-5 col-md-2 border col-test m-auto">
					<div class = "images"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRMgWEgB0qr0oq_h6ktSJ16KrmRCD0GfEvj6KRZINYk2hGAXjFF&usqp=CAU" alt="..." class="img-thumbnail"></div>
					<div><p>Column 1</p></div>
				</div>
				<div class="col col-11 col-sm-5 col-md-2 border col-test m-auto">
					<div class = "images"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtkwwk_KA_q1yD_SBtiNuiEAs9tfHzWgC3WUZRSYSCCXLN1ALM&usqp=CAU" alt="..." class="img-thumbnail"></div>
					<div><p>Column 1</p></div>
				</div>
				<div class="col col-11 col-sm-5 col-md-2 border col-test m-auto">
					<div class = "images"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtkwwk_KA_q1yD_SBtiNuiEAs9tfHzWgC3WUZRSYSCCXLN1ALM&usqp=CAU" alt="..." class="img-thumbnail"></div>
					<div><p>Column 1</p></div>
				</div>
			</div>
		</div>
	</body>
</html>